@import "reset.css";

.conteiner {
    background-color: #F2F2F2;
}
.header {
    background-color: #313131;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}
.header-menu {
    display: flex;
    flex-direction: row;
}
.logo {
    display: flex;
    align-items: center;
    padding-left: 27px;    
}
.main_link {
    display: flex;
    height: 68px;
    
}
.menu_main_link  {
    display: flex;
    font-size: 22px;
    align-items: center;
    padding-left: 27px;
    text-decoration-line: none;
    color:white;
}
.menu_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
    font-size: 18px;
    flex-wrap: nowrap;
    width: 100%;
    text-transform: uppercase;

}
.header_link {
    text-decoration-line: none;
    color: white;
    padding: 28px;
}
.header_link:hover {
    color:#14B9D5;
    transition: 0.5s;
}
.search_item {
    background: #000000;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first_bg {
    background-image: url(../img/header-bg.jpg);
    background-attachment: fixed;
    height: 368px;
    max-width: 100%;
   background-size: cover;
}
.main_name {
    display:flex;
    justify-content: center;
    color: white;
    text-transform: uppercase;
    padding-top: 164px;
    font-size: 27px;
    line-height: 37px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 44px;
}
.first_bg_buttons {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}
.subscribe_button {
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #89CA62;
    border: 1px solid none;
    text-decoration-line: none;
    border-radius: 4px;
    width: 170px;
    height: 55px;
    margin-right: 10px;
}
.articles_button {
    color: white;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #14B9D5;
    border: 1px solid none;
    text-decoration-line: none;
    border-radius: 4px;
    width: 170px;
    height: 55px;
    margin-left: 10px;
}
.container_body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #F2F2F2;
}
.titles {
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    margin:50px;
    font-family: 'Open Sans', sans-serif;
}
.posts {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 900px;
    align-content: space-between;
}
.post_item {
    width: 370px;
    background: white;
    margin-bottom: 30px;

}
.post__introtext{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.clients {
    background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed;
    max-width: 100%;
    height: 100%;
    background-size: cover;
}
.clients_title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 100px;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
}
.clients_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    margin: 87px auto auto;
}
.clients_logo {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 auto;
    max-width: 1200px;

}
.clients_logo_img {
    padding:0 50px;
    padding-bottom: 200px;
}
.rated_photos {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.photos_item {
    max-width: 100%;
}
.news {
    font-family: 'Open Sans', sans-serif;
    max-width: 1150px;
    display: grid;
    grid-gap: 50px;
    margin: 0 auto;
    grid-template-areas: 
    "item1 item1 item1 item2"
    "item3 item3 item4 item4"
    "item5 item5 item6 item6"
    "item7 item8 item8 item8";
}
.news_item1 {
    grid-area: item1;
    background-color: #F9F7F7;
}
.news_item2 {
    grid-area: item2;
    background-color: #F9F7F7;
}
.news_item3 {
    grid-area: item3;
    background-color: #F9F7F7;
}
.news_item4 {
    grid-area: item4;
    background-color: #F9F7F7;
}
.news_item5 {
    grid-area: item5;
    background-color: #F9F7F7;
}
.news_item6 {
    grid-area: item6;
    background-color: #F9F7F7;
}
.news_item7 {
    grid-area: item7;
    background-color: #F9F7F7;
}
.news_item8 {
    grid-area: item8;
    background-color: #F9F7F7;
}
.news_first_photo {
    float: left;
}
.news_last_photo {
    float: left;
}
.news_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}
.news_title {
    text-align: end;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;

}
.news_text {
    text-align: end;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    padding-top:15px;
}
.news_short_title{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}
.footer {
    background-color: #000000;
    width:100%;
    margin-top:80px;
}
.footer_content {
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    color: white;
    margin: 0 auto;
    padding: 30px;
    align-items: center;
}
